
@font-face {
  font-family: "Lardy Sans";      
  src: url('../fonts/lardy-sans-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Lardy Serif";      
  src: url('../fonts/lardy-serif-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
